
  <div class="search"><input type="text" [(ngModel)]="this.namePokemon"/>
  <button (click)="searchPokemonByName()">search by name</button>


<input type="text" [(ngModel)]="this.nameType"/>
  <button (click)=" searchByType()">search by type</button>

<div class="pokemonList">

  <div class="row">
  <div *ngFor="let pokemon of pokemonList | paginate: { itemsPerPage: 6, currentPage: p }">

    <div class="card" (click)="show(pokemon)">
    
      <div class="container">
       <b>{{pokemon.name | titlecase}}</b>

      </div>
    </div>

  </div>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>


  <div class="pokemonScreen">

    <div class="welcomeBanner" *ngIf="!choosePokemon">
      <h1>WELCOME TO THE ANGULAR POKEDEX!</h1>
      <h4>Search a pokemon!</h4>
    </div>

    <div class="container" *ngIf="pokemonEmpty">
      <h1>Oops! Pokemon not found! :(</h1>
    </div>
    <div class="container"  *ngIf="choosePokemon && !pokemonEmpty"> 
    <h4>{{pokemon.name | titlecase}}                  #{{pokemon.id}}</h4>

    <p> <img src="{{pokemon.img_front_url}}" style="width: 100px"/><img src="{{pokemon.img_back_url}}" style="width: 100px"/></p>
    <p>Height:  {{pokemon.height}}</p>
    <p>Weight: {{pokemon.weight}}</p>

    <p><b>Abilities:</b></p>
    <div *ngFor="let ability of pokemon.abilities">
      <p>{{ability.name}}: <i>{{ability.description}}</i></p>
    </div>

         <div class="row">
         <div *ngFor="let type of pokemon.types" class="types">
           <p id="{{type.name}}" class="type">{{type.name | uppercase }}</p>
         </div>
        </div>

        </div>

  </div>
</div>



<router-outlet></router-outlet>