<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokedex</title>
</head>
<body>

  <input type="text" [(ngModel)]="this.name"/>
  <button (click)="pesquisar()">PESQUISAR POKEMON</button>

  <h1>Nome: {{pokemon.name | titlecase}}</h1>
  <h2>Altura: {{pokemon.height}}</h2>
  <h2>Peso: {{pokemon.weight}}</h2>

  <h2>Habilidade(s):
  <div *ngFor="let ability of pokemon.abilities">
    {{ability.name}} => {{ability.description}}
  </div>
</h2>

<h2>Tipo(s):
  <div *ngFor="let type of pokemon.types">
    {{type.name}}
  </div>
</h2>

<img src="{{pokemon.img_front_url}}"/> <img src="{{pokemon.img_back_url}}"/> 

</body>
</html>



<router-outlet></router-outlet>